<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dave</title>
</head>
<body>

    {{title}}


    <script>
        let myass = '{{title}}';

        if(myass)
        {
            console.log(myass)
        }
        else
        {
            console.log('There is nothing in there');
        }

    </script>
</body>
</html>